
Clark.Crawler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Clark.Crawler/obj/Debug/Clark.Crawler.pdb
*.dll
*.pdb
Clark.Crawler/obj/Debug/Clark.Crawler.csproj.FileListAbsolute.txt
Clark.Crawler/obj/Debug/Clark.Crawler.pdb
Clark.Crawler/obj/Debug/Clark.Crawler.dll
Clark.Crawler/bin/Debug/Clark.Crawler.pdb
Clark.Crawler/bin/Debug/Clark.Crawler.dll
Clark.Socialite/obj/Debug/Clark.Socialite.csproj.FileListAbsolute.txt
Clark.Socialite/obj/Debug/Clark.Socialite.csprojResolveAssemblyReference.cache
Clark.Socialite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Clark.Socialite/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Clark.Socialite/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Clark.Socialite/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Clark.Crawler/obj/Debug/Clark.Crawler.pdb
Clark.Crawler/obj/Debug/Clark.Crawler.dll
Clark.Crawler/bin/Debug/Clark.Crawler.pdb
Clark.Crawler/bin/Debug/Clark.Crawler.dll
Clark.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Clark.Common/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Clark.Common/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Clark.Common/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Clark.ContentScanner/obj/Debug/Clark.ContentScanner.csproj.FileListAbsolute.txt
Clark.ContentScanner/obj/Debug/Clark.ContentScanner.csprojResolveAssemblyReference.cache
Clark.ContentScanner/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Clark.ContentScanner/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Clark.ContentScanner/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Clark.ContentScanner/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Clark.Logger/obj/Debug/Clark.Logger.csproj.FileListAbsolute.txt
Clark.Logger/obj/Debug/Clark.Logger.csprojResolveAssemblyReference.cache
Clark.Logger/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Clark.Logger/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Clark.Logger/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Clark.Logger/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Clark.Subdomain/obj/Debug/Clark.Subdomain.csproj.FileListAbsolute.txt
Clark.Subdomain/obj/Debug/Clark.Subdomain.csprojResolveAssemblyReference.cache
Clark.Subdomain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Clark.Subdomain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Clark.Subdomain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Clark.Subdomain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
