
Clark.Crawler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Clark.Crawler/obj/Debug/Clark.Crawler.pdb
*.dll
*.pdb
Clark.Crawler/obj/Debug/Clark.Crawler.csproj.FileListAbsolute.txt
Clark.Crawler/obj/Debug/Clark.Crawler.pdb
Clark.Crawler/obj/Debug/Clark.Crawler.dll
Clark.Crawler/bin/Debug/Clark.Crawler.pdb
Clark.Crawler/bin/Debug/Clark.Crawler.dll
